<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AadTenant" value="fred27murphylive.onmicrosoft.com" />
    <add key="ClientId" value="9079cc4c-7016-4c1a-b7e1-065d0b0a0424" />
    <add key="ClientSecret" value="0UWAvDonfh.ONQ988Jf]rN-HAb.A13y8" />
    <add key="TimeSeriesEnvironment" value="f475b9d6-f9ff-47c1-965f-5c6a34f1524e.env.timeseries.azure.com" />
    <add key="TimeSeriesId" value="fred" />
  </appSettings>
  <connectionStrings>
    <add name="iotHub" connectionString="HostName=0xfred-hub.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=4eoTO7u5hZpFaXJh6KtaRrg+6195w/ZJi27OSJbbNY8=" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>